# Exclude node_modules directory
node_modules

# Exclude Visual Studio Code settings directory
.vscode

# Exclude other common directories and files
dist
.git
.gitignore
Dockerfile
docker-compose.yml
README.md
.env
